<li>
	{{burger_name}}

	{{!-- <button class="change-devoured" data-id="{{id}}" data-newdevour="{{devoured}}">
		{{#if devoured}}Devour it!{{else}}devour it!{{/if}}
	</button> --}}

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</li>
